
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form>
    <input class="form-control" type="text" placeholder="Name" />
    <input class="form-control" type="text" placeholder="Price" />
    <input class="form-control" type="text" placeholder="Quantity" />
    <input class="form-control" type="text" placeholder="Description" />
    <input class="btn btn-success" type="submit" value="Create" />


</form>

