
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h1>Are you sure to delete?</h1>
<h2>Name: @Model.Name</h2>
<h4>Cgpa: @Model.Cgpa</h4>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Yes" name="dcsn" class="btn btn-danger" />
    <input type="submit" value="No" name="dcsn" class="btn btn-success" />
</form>

